<h3><abc-servers></abc-servers></h3>
<div >
<h1>Welcome to {{title}}!</h1>
<input type="text" placeholder="Type your name" [(ngModel)]="jis" />

<h2>created by {{jis}}</h2>
<img width="300" alt="Kein Bild" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/300px-Angular_full_color_logo.svg.png"/>
</div>

<h2>here are some links to help u start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">link to Angular tutorial</a></h2>
  </li>
</ul>

<p><abc-warning-alert></abc-warning-alert></p>
<h3><abc-success-alert></abc-success-alert></h3>
<button class="btn btn-primary" (click)="onToggle()">Display Details</button>
<p *ngIf="showSecret" >Secret Pass is : Tuna</p>
<p *ngFor="let logg of log; let index = index" 
[ngStyle]="{backgroundColor: index  % 2 === 0 ? 'blue' : 'transparent'}"
[ngClass] ="{'white-text': index  % 2 === 0 }"
>{{logg}}</p>